/* Zorg dat de pagina volledig scherm gebruikt */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Bovenste kleurblok */
.TopBlock {
  width: 100%;
  height: 10vh; /* 10% van de viewport hoogte */
  background-color: rgba(0,170,162,0.3);
}

/* Onderste kleurblok */
.BottomBlock {
  width: 100%;
  height: 10vh; /* 10% van de viewport hoogte */
  background-color: rgba(20,27,31,0.3); /* pas alfa aan naar wens */
  margin-top: auto; /* duwt het naar de onderkant */
}

/* Content tussen boven- en onderblok, gecentreerd */
.AppContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* verticaal centreren */
  align-items: center;     /* horizontaal centreren */
  text-align: center;
}
