html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.TopBlock {
  width: 100%;
  height: 10vh;
  background-color: rgba(0,170,162,0.3);
}

.AppContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AppContent h1,
.AppContent p { /* h1 en p dezelfde kleur */
  color: rgba(41,52,57,1);
}

.AppContent h1 {
  margin-bottom: 20px;
}

.AppContent p {
  margin-top: 0;
}

.BottomBlock {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    to right,
    rgba(71,94,108,1),
    rgba(20,27,31,1)
  );
  margin-top: auto;
}