.App {
  min-height: 100vh;
}

.TopBlock {
  height: 10vh;
  background-color: rgba(0,170,162,0.3);
}

.AppContent {
  text-align: center;
  padding-top: 20px;
}

.AppContent h1 {
  color: #004080;
  margin-bottom: 20px;
}
